@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|News+Cycle|Poiret+One|Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
gris oscuro #212629
amarillo #fcd134
amarillo para fondo blanco: #FF9800

font-family: 'Poiret One', cursive;
font-family: 'News Cycle', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Gochi Hand', cursive;
*/
/*----TITULOS-----*/

.color-yellow{
	color:#fcd134 !important;
}
.color-black{
	color:#212121 !important;
}
.color-gray{
	color:#757575 !important;
}
.titulo-one{
	font-size:25px;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
}
.title-login a:hover{
	color:#FF9800;
	text-decoration: none;
}
.bg-login{
	background: #F5F5F5 !important;
}
.btn-login{
	background: #FF9800;
	border:none;
	width: 100%;
	height: 50px;
	font-size: 20px;
	color:#fff;
	cursor: pointer;
	font-family: 'Pontano Sans', sans-serif;
}
.input-login{
	border-radius: none !important;
	width: 100%;
	height: 50px;
	font-size: 20px;
	border: solid 1px #BDBDBD;
	padding: 10px;
}
.bg-login a{
	text-decoration: none !important;
	font-size: 20px;
}
.bg-login a:hover{
	color:#FF9800;
}

/*backgrounds*/

.bg-option{
	background:#FFF3E0;
}

.bg-btn-option{
	background: #E0E0E0 !important;
	
}
/*-----------*/
.titulo-2{
	font-family: 'Pontano Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.titulo-3{
	font-family: 'Montserrat', sans-serif;	
	font-size: 14px;
	
}
.texto-3{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;	
}
.texto-4{
	font-size: 15px !important;
	font-family: 'Montserrat', sans-serif;	
}
.bg-l{

	width: 50% !important;
	float:left;
}
.bg-gris{
	background: #F5F5F5;
	padding:10px;
	font-style: none;
}
.bg-anuncio{
	background: #F5F5F5 !important;
}
.line{
	border-top: 1px solid #FF9800;
}

.url{
	font-family: 'Gochi Hand', cursive;
	color:#eee;
}
/*---------------*/



.header-app{
    background:#212629 !important;
}
.app-a{
    color: #fcd134 !important;
}
.app-link{
    color:#fff !important;
}
.app-link:hover{
    color:#fcd134 !important;
}
.title-app{
    text-align:center;
    padding:10px;
    
}
.title-card h4{
    background:#212629;
    color:#fcd134;
    text-align:center;
}

.app-todos{
    background:#eee !important;
    padding:15px 0px;
}
/**/
.app-recientes{
    padding:10px;
}
/**/
.app-todas-ventas{
    background:#fff;
    padding:10px;
}
/**/
.app-todas-anticres{
    background: #eee !important;
    padding:10px;
}
/*estilos para los botones de ver mas en index*/
.card-app{
    background:#212629;
    color:#fcd134;
    padding-top:55px;
    border: 3px solid #636668;
    width: 180px;
    height: 180px;
}
.card-app a{
    color:#fff;
    font-size:15px;
    text-decoration:none;
}

/*--------------------------------------------*/
.notification{
	padding: 2px;
	margin: 3px;
}
.icono{
	padding: 2px;
	margin: 4px;
}
