@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|News+Cycle|Poiret+One|Pontano+Sans');
/*
gris oscuro #212629
amarillo #fcd134
amarillo para fondo blanco: #FF9800

font-family: 'Poiret One', cursive;
font-family: 'News Cycle', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Gochi Hand', cursive;
*/
/*----TITULOS-----*/

.color-yellow{
	color:#FF9800;
}
.color-black{
	color:##212121;
}
.titulo-one{
	font-family: 'Pontano Sans', sans-serif;
	font-weight: bold;
}
.titulo-2{
	font-family: 'Poiret One', cursive;
	color:#757575;
	font-size: 25px;
	font-weight: bold;
}
.bg-gris{
	background: #E0E0E0;
	padding:10px;
}
.line{
	border-top: 1px solid #FF9800;
}

.url{
	font-family: 'Gochi Hand', cursive;
	color:#eee;
}
/*---------------*/



.header-app{
    background:#212629 !important;
}
.app-a{
    color: #fcd134 !important;
}
.app-link{
    color:#fff !important;
}
.app-link:hover{
    color:#fcd134 !important;
}
.title-app{
    text-align:center;
    padding:10px;
    
}
.title-card h4{
    background:#212629;
    color:#fcd134;
    text-align:center;
}

.app-todos{
    background:#eee !important;
    padding:15px 0px;
}
/**/
.app-recientes{
    padding:10px;
}
/**/
.app-todas-ventas{
    background:#fff;
    padding:10px;
}
/**/
.app-todas-anticres{
    background: #eee !important;
    padding:10px;
}
/*estilos para los botones de ver mas en index*/
.card-app{
    background:#212629;
    color:#fcd134;
    padding-top:55px;
    border: 3px solid #636668;
    width: 180px;
    height: 180px;
}
.card-app a{
    color:#fff;
    font-size:15px;
    text-decoration:none;
}

/*--------------------------------------------*/

